<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sorry!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p>HTML version not yet available!</p>
        <p>Use the `Accept` header (<b>text/xml</b> or <b>application/json</b>) or `format` query parameter (<b>xml</b> or <b>json</b>).</p>
    </body>
</html>
